@use "partials/variables";
@use "partials/generales";
@use "partials/header-footer";
@use "partials/body";
@use "partials/textsconfg";
@use "partials/map-iframe";
@use "partials/form";
@use "partials/grid";

@use "partials/mediaQ";