@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
/* 
#F0E3CA crema
#FF8303 naranja
#A35709 N-Oscuro
#1B1A17 negro
*/
* {
  margin: 0;
  padding: 0;
}

.encabezado, footer {
  color: #FF8303;
  size: 50px;
  font-size: 50px;
  font-family: "Cinzel", serif;
  text-align: center;
  background-image: url(../imagenes/banner-titulo.jpg);
}

body {
  background-color: #F0E3CA;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
body nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-image: url(../imagenes/bgrnd-nav.jpg);
  padding: 10px;
}
body nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

h2 {
  color: #A35709;
  size: 40px;
  font-size: 40px;
  font-family: "Cinzel", serif;
  text-align: center;
  text-decoration: underline;
}

p {
  color: #1B1A17;
  size: 25px;
  font-size: 25px;
  font-family: "Cinzel", serif;
  text-align: center;
  margin: 15px;
}

.actividades-lista {
  list-style-type: square;
  margin: 17px;
  padding: 18px;
  width: 60%;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: #1B1A17;
}

strong {
  text-decoration-line: underline;
}

.pie-pagina {
  color: #FF8303;
  width: 100%;
  size: 50px;
  font-size: 50px;
  font-family: "Cinzel", serif;
  text-align: center;
  margin: 0;
}

.mapa-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
}
.mapa-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 5px solid #A35709;
  border-radius: 15px;
}

.video1 {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.grupo-formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.grupo-formulario label input[type=text] .grupo-formulario label input[type=email] .grupo-formulario label textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Cinzel";
}

.album-recuerdos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "fila0 fila0 fila0" "media1 info1 info1" "info2 info2 media2" "media3 info3 info3";
}
.album-recuerdos .fila0 {
  grid-area: fila0;
}
.album-recuerdos .media1 {
  grid-area: media1;
  margin: auto;
}
.album-recuerdos .info1 {
  grid-area: info1;
  text-align: end;
  background-color: #b9a784;
}
.album-recuerdos .info2 {
  grid-area: info2;
  background-color: #ffffff;
}
.album-recuerdos .media2 {
  grid-area: media2;
  margin: auto;
}
.album-recuerdos .media3 {
  grid-area: media3;
}
.album-recuerdos .info3 {
  grid-area: info3;
  text-align: end;
  background-color: #b9a784;
}
.album-recuerdos .imagen-grid {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.album-recuerdos .imagen-grid.respiracion {
  animation-name: respiracion;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media (max-width: 1300px) {
  .album-recuerdos .imagen-grid.respiracion {
    animation: none;
  }
}
.album-recuerdos .imagen-grid.cabañas {
  animation-name: reduccion;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@media (max-width: 1300px) {
  .album-recuerdos .imagen-grid.cabañas {
    animation: none;
  }
}
@keyframes respiracion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes reduccion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  body {
    background-color: #888888;
  }
}
@media (max-width: 600px) {
  .album-recuerdos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fila0" "media1" "info1" "info2" "media2" "media3" "info3";
  }
}
@media (max-width: 600px) and (max-width: 768px) {
  .cabañas {
    display: none;
  }
}
@media (max-width: 500px) {
  .pie-pagina {
    width: 95%;
    size: 25px;
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilos.css.map */
