@use "./variables" as*;

body {

    background-color: $crema;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-image: url(../imagenes/bgrnd-nav.jpg);
        padding: 10px;
        ul  {
            display: flex;
            list-style: none;
            gap: 1rem;
            margin: 0;
            padding: 0;
        }
    }

    
}
