
.album-recuerdos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
    "fila0 fila0 fila0"
    "media1 info1 info1"
    "info2 info2 media2"
    "media3 info3 info3";

    .fila0 { grid-area: fila0;}
     .media1 { grid-area: media1; margin: auto;}
     .info1 { grid-area: info1; text-align: end; background-color: #b9a784;}
     .info2 { grid-area: info2; background-color: #ffffff;}
      .media2 { grid-area: media2; margin: auto;}
     .media3 { grid-area: media3;}
      .info3 { grid-area: info3; text-align: end; background-color: #b9a784;}
        .imagen-grid {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            &.respiracion {
                animation-name: respiracion;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                @media (max-width: 1300px) {
                    animation: none;
                }
            }
            &.cabañas {
                animation-name: reduccion;
                animation-duration: 6s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                @media (max-width: 1300px) {
                    animation: none;
                }
            }
        }
        @keyframes respiracion {
            0% { transform: scale(1);}
            50% { transform: scale(1.5);}
            100% { transform: scale(1);}
        }
        @keyframes reduccion {
            0% { transform: scale(1);}
            50% { transform: scale(0.7);}
            100% { transform: scale(1);}
        }
}