@use "./variables" as*;

.encabezado {
    color: $naranja;
    size: 50px;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: $v-militar;
}

footer {
    @extend .encabezado;
}
