@use "./variables" as*;

.mapa-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}
iframe {
    display: block;
    margin: 0 auto;
    border: 5px solid $N-Oscuro;
    border-radius: 15px;

}

.video1 {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}