@media (max-width: 600px) {
    .album-recuerdos {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "fila0"
            "media1"
            "info1"
            "info2"
            "media2"
            "media3"
            "info3";
    }
    @media (max-width: 768px) {
        .cabañas {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .contenedor-carrusel {
        max-width: 95%;
        margin: 20px auto;
    .img-carrusel {
        height: 400px;
        }
    }
}

@media (max-width: 768px) {
    .actividades-lista2 {
        gap: 40px;
        padding: 0 15px;
    }
    .actividad-img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .contenedor-contacto {
        flex-direction: column; 
        width: 95%;
    }
}

@media (max-width: 500px) {
    .pie-pagina {
        width: 95%;
        size: 25px;
        font-size: 25px;

    }
}