@media (max-width: 600px) {
    body {
        background-color: #888888;
    }
}

@media (max-width: 600px) {
    .album-recuerdos {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "fila0"
            "media1"
            "info1"
            "info2"
            "media2"
            "media3"
            "info3";
    }
    @media (max-width: 768px) {
        .cabañas {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .pie-pagina {
        width: 95%;
        size: 25px;
        font-size: 25px;

    }
}